name: ncmdump_mobile
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  file_picker: ^10.3.7
  permission_handler: ^12.0.1
  path_provider: ^2.1.1
  provider: ^6.0.0
  device_info_plus: ^9.0.0
  shared_preferences: ^2.0.0
  ffi: ^2.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
